.card {
    width: 650px;
    height: 420px;
    box-shadow: 6px 7px 24px grey;
}
.cardImage {
    width: 220px;
    height: 180px;
}
@media only screen and (max-width: 600px){
    .card{
        width: 240px;
        height: 220px;
        margin-right: 80px;
        margin-top: 380px;
    }
    .cardImage {
        width: 50px;
        height: 40px;
    }
    .highlightHeading {
        font-size: 10px;
    }
    .highlightBack {
        height: 450px;
        margin-top: 280px;
    }
    .highlightContent1 {
        display: none;
    }
    .highlightContent2 {
        font-size: 8px;
    }
}
